flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-socketio==5.3.6
flask-mail==0.10.0
flask-migrate==4.0.7
flask-limiter==4.1.1
flask-wtf==1.2.1
werkzeug==3.0.3
python-socketio==5.11.3
eventlet==0.36.1
sqlalchemy==2.0.36
pillow==10.4.0
pyotp==2.9.0
qrcode[pil]==8.0
cryptography==43.0.3
python-dotenv==1.0.1
webauthn==2.2.0
gunicorn==22.0.0
psycopg2-binary==2.9.9
watchdog==4.0.1
apscheduler==3.10.4
